=breadcrumb_tag do
  %li.active
    = t('headers.promos.new')
  %li
    = link_to 'Промокоды', promos_path
.page-header
  %h1= t('headers.promos.new')

= render 'form'

= link_to  promos_path,class: 'btn btn-info' do
  = t('buttons.back')
